<ng-container *ngIf="data">
    <span *ngIf="attachHoverEvents" [id]="id" class="{{data.class}} evt-span"
        [class.underline]="(underlineData$ | async)?.enabled" [attr.data-exponent-level]="level"
        (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">{{ data.text }}</span>
        
    <span *ngIf="!attachHoverEvents" [id]="id" class="{{data.class}} evt-span"
        [class.underline]="(underlineData$ | async)?.enabled" [attr.data-exponent-level]="level">{{ data.text }}</span>
</ng-container>