<ng-container *ngIf="data && data.appEntries.length">
    <evt-note-button [exponent]="data.label" [noteType]="noteType" [isHovering]="isHighlighted$ | async" (click)="onExponentButtonClicked()"
        (mouseenter)="onHover(true)" (mouseleave)="onHover(false)"></evt-note-button>

    <ng-container *ngIf="apparatusDetailsShown$ | async">
        <evt-apparatus-entry-detail *ngFor="let app of data.appEntries"
            [data]="app"></evt-apparatus-entry-detail>
    </ng-container>
</ng-container>