<ng-container *ngIf="this.data.appEntries.length">
    <evt-note-button [exponent]="this.data.label" [noteType]="this.noteType" (click)="this.onExponentButtonClicked()"
        (mouseenter)="this.onHover(true)" (mouseleave)="this.onHover(false)"></evt-note-button>

    <ng-container *ngIf="this.apparatusDetailsShown$ | async">
        <evt-apparatus-entry-detail *ngFor="let app of this.data.appEntries"
            [data]="this.app"></evt-apparatus-entry-detail>
    </ng-container>
</ng-container>