<div style="cursor: pointer;">
    <div class="modal-item d-flex justify-content-between align-items-center py-1" (click)="toggleCollapse()">
        <evt-icon role="button" *ngIf="witness.witnesses.length" [iconInfo]="chevronIcon" [attr.aria-expanded]="!isCollapsed"></evt-icon>
        <span class="ms-2 fs-5">{{ witness.label }}</span>
        <button *ngIf="witness.canSelect" class="btn btn-outline-primary btn-sm ms-auto" type="button" (click)="onSelectClicked(this.witness.id)">
            {{ 'add' | translate }}
        </button>
        <button *ngIf="!witness.canSelect" class="btn btn-outline-secondary btn-sm ms-auto" type="button" (click)="onRemoveClicked(this.witness.id)">
            {{ 'remove' | translate }}
        </button>
    </div>

    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="ms-3">
            <evt-modal-witness-item *ngFor="let childWitness of witness.witnesses; trackBy:childrenWitnessesTrackBy" [witness]="childWitness"
                (onSelect)="onSelectClicked($event)" (click)="onRemoveClicked($event)"></evt-modal-witness-item>
        </div>
    </div>
</div>