<gridster [options]="options">
    <gridster-item [item]="textPanelItem">
        <evt-text-panel [pageID]="currentPageID$ | async" (pageChange)="changePage($event.id)"
            [hideEditionLevelSelector]="true" [editionLevelID]="'critical'"></evt-text-panel>
    </gridster-item>
    <gridster-item [item]="collationPanelItem">
        <div class="collationPanel" #collationPanel *ngIf="currentWitnesses$ | async as witnesses"
            [class.align-self-center]="witnesses.length === 0" [class.empty]="witnesses.length === 0">
            <gridster [options]="collationOptions" *ngIf="witnesses.length > 0">
                <gridster-item [item]="witness.itemConfig" *ngFor="let witness of currentWitnesses$ | async">
                    <evt-witness-panel [witnessItem]="witness" (hide)="removeWitness(witness.id)" (changePage)="changePage($event)">
                    </evt-witness-panel>
                </gridster-item>
            </gridster>
            <ng-container *ngIf="witnessBtn$ | async as witnessBtn">
                <evt-button class="btn" [class.btn-float-right]="witnessBtn.floatRight"
                    [additionalClasses]="witnessBtn?.additionalClasses" [label]="witnessBtn?.label | translate"
                    [iconLeft]="witnessBtn?.icon" [title]="witnessBtn?.title | translate" #popover="ngbPopover"
                    [ngbPopover]="popContent" [autoClose]="'outside'" container="body"
                    [placement]="witnessBtn.placement">
                </evt-button>
            </ng-container>
        </div>
    </gridster-item>
</gridster>

<ng-template #popContent>
    <div class="text-center" style="max-height: 20rem; overflow-y: auto;">
        <div role="button" class="popover-item" *ngFor="let witness of popoverWitnesses$ | async"
            (click)="addWitness(witness.id)">{{ witness.label }}</div>
    </div>
</ng-template>